@reference "./globals.css";

@layer components {
  .spec-log-info-main {
    @apply min-h-screen max-w-4xl mx-auto px-4 py-10 flex flex-col items-center relative;
  }

  .spec-log-info-back {
    @apply mt-[63px] lg:mt-[125px] ml-[8px] lg:ml-[150px] self-start text-2xl mb-4 no-underline p-3;
    color: black;
    position: absolute;
    z-index: 20;
    font-size: 1.5rem;
    transition: transform 0.2s ease;
  }


  .spec-log-info-back:hover {
    transform: translateX(-3px);
  }

  .spec-log-info-comment {
    @apply self-start font-mono text-sm mb-6;
    color: var(--color-brand-orange);
  }

  .spec-log-info-heading {
    @apply text-[35px] lg:text-[45px] font-bold text-center mb-9 lg:mb-16 mt-7 leading-tight;
    color: var(--color-brand-carbon);
  }

  .spec-log-info-heading-brand {
    color: var(--color-brand-orange);
  }
}
